In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [80]:
df = pd.read_csv("Uncleaned_DS_jobs.csv")

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Job Title            672 non-null    object
 1   Salary Estimate (K)  672 non-null    object
 2   Job Description      672 non-null    object
 3   Rating               672 non-null    float64
 4   Company Name         672 non-null    object
 5   Location             672 non-null    object
 6   Headquarters         641 non-null    object
 7   Size                 645 non-null    object
 8   Founded              672 non-null    int64
 9   Type of ownership    645 non-null    object
 10  Industry             601 non-null    object
 11  Sector               601 non-null    object
 12  Revenue              432 non-null    object
 13  Competitors          171 non-null    object
 14  Company_age          672 non-null    int64
 15  Min Salary (K)       672 non-null    int64
 16  Max Salary (K)       672 non-null    int64
 17  Avg Salary (K)       672 non-null    int32
dtypes: float64(1), int32(1), int64(4), object(12)
memory usage: 92.0+ KB

In [115]:
df.head(3)

,Job Title,Salary Estimate (K),Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Company_age,Min Salary (K),Max Salary (K),Avg Salary (K)
0,Sr Data Scientist,137-171,DescriptionThe Senior Data Scientist is respon...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,<NA>,"EmblemHealth, UnitedHealth Group, Aetna",31,137,171,154
1,Data Scientist,137-171,"Secure our Nation, Ignite your FutureJoin the ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),<NA>,56,137,171,154
2,Data Scientist,137-171,OverviewAnalysis Group is one of the largest i...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),<NA>,43,137,171,154

In [83]:
df.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

In [84]:
# checking for any missing values in all the columns
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

Transforming the data in the Salary estimate column.

In [85]:
df['Salary Estimate'].unique()

array(['$137K-$171K (Glassdoor est.)', '$75K-$131K (Glassdoor est.)',
       '$79K-$131K (Glassdoor est.)', '$99K-$132K (Glassdoor est.)',
       '$90K-$109K (Glassdoor est.)', '$101K-$165K (Glassdoor est.)',
       '$56K-$97K (Glassdoor est.)', '$79K-$106K (Glassdoor est.)',
       '$71K-$123K (Glassdoor est.)', '$90K-$124K (Glassdoor est.)',
       '$91K-$150K (Glassdoor est.)', '$141K-$225K (Glassdoor est.)',
       '$145K-$225K(Employer est.)', '$79K-$147K (Glassdoor est.)',
       '$122K-$146K (Glassdoor est.)', '$112K-$116K (Glassdoor est.)',
       '$110K-$163K (Glassdoor est.)', '$124K-$198K (Glassdoor est.)',
       '$79K-$133K (Glassdoor est.)', '$69K-$116K (Glassdoor est.)',
       '$31K-$56K (Glassdoor est.)', '$95K-$119K (Glassdoor est.)',
       '$212K-$331K (Glassdoor est.)', '$66K-$112K (Glassdoor est.)',
       '$128K-$201K (Glassdoor est.)', '$138K-$158K (Glassdoor est.)',
       '$80K-$132K (Glassdoor est.)', '$87K-$141K (Glassdoor est.)',
       '$92K-$155K (Glassdoor est.)', '$105K-$167K (Glassdoor est.)'],
      dtype=object)

In [86]:
# replacing $, K, and (Glassdoor est.)
df['Salary Estimate'] = df['Salary Estimate'].replace({'\$' : '', 'K' : '', ' \(Glassdoor est.\)' : '', '\(Employer est.\)' : ''}, regex = True)

In [87]:
df['Salary Estimate'].unique()

array(['137-171', '75-131', '79-131', '99-132', '90-109', '101-165',
       '56-97', '79-106', '71-123', '90-124', '91-150', '141-225',
       '145-225', '79-147', '122-146', '112-116', '110-163', '124-198',
       '79-133', '69-116', '31-56', '95-119', '212-331', '66-112',
       '128-201', '138-158', '80-132', '87-141', '92-155', '105-167'],
      dtype=object)

In [88]:
df.rename(columns = {'Salary Estimate' : 'Salary Estimate (K)'}, inplace=True)

Transforming columns with newline characters

In [89]:
col_with_newlines = []
for col in df.columns:
    if df[col].astype(str).str.contains('\n').any():
        col_with_newlines.append(col)
col_with_newlines

['Job Description', 'Company Name']

In [90]:
df['Company Name'] =df['Company Name'].replace({r'\n': ''}, regex=True)

In [91]:
df['Company Name'].head()

0           Healthfirst3.1
1               ManTech4.2
2        Analysis Group3.8
3               INFICON3.5
4    Affinity Solutions2.9
Name: Company Name, dtype: object

In [103]:
# remove rating attached to company name 
df['Company Name'] = df['Company Name'].str[:-3]

In [104]:
df['Rating'].value_counts()

3.5    58
0.0    50
4.0    41
3.3    41
3.9    40
3.8    39
3.7    38
5.0    36
4.5    32
3.6    31
3.4    31
4.2    29
4.1    25
4.4    24
4.7    22
3.2    21
4.8    20
4.3    14
2.9    14
4.6    12
3.1    12
4.9    11
2.7    10
3.0     7
2.6     4
2.8     3
2.5     2
2.2     1
2.4     1
2.3     1
2.1     1
2.0     1
Name: Rating, dtype: int64

In [94]:
df['Rating'] = df['Rating'].apply(lambda x: 0 if x<0 else x)

In [95]:
df['Job Description'] = df['Job Description'].replace({r'\n' : ''}, regex=True)

In [96]:
df.drop(['index'], axis = 1, inplace=True)

In [97]:
cat_col = []
for i in df.columns:
    if df[i].dtype =='object':
        cat_col.append(i)

In [98]:
cat_col

['Job Title',
 'Salary Estimate (K)',
 'Job Description',
 'Company Name',
 'Location',
 'Headquarters',
 'Size',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Competitors']

In [99]:
df.iloc[100:110]['Competitors']

100                                         -1
101                                         -1
102                                         -1
103                                         -1
104                  Square, PayPal, H&R Block
105                                         -1
106                                         -1
107                                         -1
108                                         -1
109    Booz Allen Hamilton, CACI International
Name: Competitors, dtype: object

In [100]:
df[cat_col]['Revenue'].unique()

array(['Unknown / Non-Applicable', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)', '-1'], dtype=object)

In [101]:
df[cat_col] = df[cat_col].replace(['-1'], pd.NA)
df[cat_col] = df[cat_col].replace(['Unknown / Non-Applicable'], pd.NA)

In [102]:
df['Company_age'] = df['Founded'].map(lambda x:2024 - x if x > 0 else 0 )

In [105]:
df['Company_age']

0      31
1      56
2      43
3      24
4      26
       ..
667    35
668     0
669     0
670     0
671    48
Name: Company_age, Length: 672, dtype: int64

In [106]:
df[['Min Salary (K)', 'Max Salary (K)']] = df['Salary Estimate (K)'].str.split('-', expand=True)

In [107]:
df['Max Salary (K)'] = pd.to_numeric(df['Max Salary (K)'])
df['Min Salary (K)'] = pd.to_numeric(df['Min Salary (K)'])

In [113]:
df['Avg Salary (K)'] = ((df['Max Salary (K)'] + df['Min Salary (K)']) / 2).astype(int)

In [118]:
# df['Avg Salary (K)'].isnull()

In [ ]:
# keywords in description
keywords = [ "python", "machine learning", "sql", "excel", "hadoop", "r", "spark", "aws", "tableau", "power bi", "big data"]